<h1>Developers</h1>

<table class="table">
  <tr>
    <th>Name</th>
  </tr>

  <% @developers.each do |developer| %>
    <tr>
      <td><%= link_to developer.name, developer_path(developer) %></td>
    </tr>

  <% end %>

</table>
